<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:with="http://www.thymeleaf.org/extras/with"
      layout:decorate="~{layout}">

    <th:block layout:fragment="content">
        <div class="jumbotron">
            <h1 class="display-4">Hello, world!</h1>
            <p class="lead">Sistema básico utilizando Spring Boot, Web, Jpa, Thymeleaf, Postgresql.</p>
            <hr class="my-4">
                <p>Para começar, acesse abaixo o CRUD de postagens.</p>
                <p class="lead">
                    <a class="btn btn-primary btn-lg" href="/posts" role="button">Meus Posts</a>
                </p>
        </div>
    </th:block>

</html>