<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <th:block layout:insert="~{fragments/head}"/>
    <body>
        <th:block layout:replace="~{fragments/navigation}"/>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <th:block layout:insert="~{fragments/title}"/>
                    <th:block layout:fragment="content"/>
                </div>
            </div>
        </div>
        <th:block layout:fragment="body_end"/>
        <th:block layout:replace="~{fragments/scripts :: end}"/>
    </body>
</html>