<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:with="http://www.thymeleaf.org/extras/with"
      layout:decorate="~{layout}">

    <th:block layout:fragment="content">
        <form class="form-horizontal" th:object="${post}" th:action="@{/posts/save}" method="POST">
            <div class="card">
                <h5 class="card-header">
                    <strong th:text="#{post.add.title}"></strong>
                </h5>
                <div class="card-body">
                    <div class="form-group">
                        <fieldset>

                            <div class="form-row">
                                <div class="col">
                                    <div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
                                        <div th:each="detailedError : ${#fields.detailedErrors()}">
                                            <span th:text="${detailedError.message}"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-2">
                                    <label>ID</label>
                                    <input type="text" class="form-control form-control-sm" id="id" th:field="*{id}" readOnly="readonly"/>
                                </div>
                                <div class="col-3">
                                    <label>Autor</label>
                                    <input type="text" class="form-control form-control-sm" 
                                           th:classappend="${#fields.hasErrors('autor')}? 'is-invalid'"
                                           th:field="*{autor}" autofocus="autofocus" placeholder="Informe o autor" maxlength="50"/>
                                </div>
                                <div class="col-5">
                                    <label>Título</label>
                                    <input type="text" 
                                           th:classappend="${#fields.hasErrors('titulo')}? 'is-invalid'"
                                           class="form-control form-control-sm" th:field="*{titulo}" maxlength="150" placeholder="Informe o título"/>
                                </div>
                                <div class="col-2">
                                    <!--${#dates.format(post.data, 'dd/MM/yyyy')}-->
                                    <label>Data</label> 
                                    <input type="date" 
                                           th:classappend="${#fields.hasErrors('data')}? 'is-invalid'"
                                           class="form-control form-control-sm" th:field="*{data}"/>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col">
                                    <label>Texto</label>
                                    <textarea class="form-control"
                                              th:classappend="${#fields.hasErrors('texto')}? 'is-invalid'"
                                              th:field="*{texto}" cols="5" rows="5" placeholder="Informe o texto"></textarea>
                                </div>
                            </div>						
                        </fieldset>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-sm btn-primary">Salvar</button>
                    <a th:href="@{/posts}" class="btn btn-sm btn-default">Cancelar</a>
                </div>
            </div>
        </form>
    </th:block>
</html>